////
/// ------------------------------------------------------------------
/// Demo
/// ------------------------------------------------------------------
/// This is the style for demonstration bloc
///
/// @author Natacha Herth

///
////

@use './../../../scss/abstracts/mixins' as *;

// Demo for grid offset
#flexGridDemoOffset {
    @include flex-grid-offset-column()
}

// Demo for grid wider
#flexGridDemoWider {
    @include flex-grid-wider-column()
}

// Demo for fade slider
.slider-fade-demo {
    --image-width: 100%;
    --image-ratio: 4/3;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    > * {
        transition: all 2s ease-out;

        &[aria-hidden=true] {
            filter: blur(1rem);
            opacity: 0;
        }

        &[aria-hidden=false] {
            opacity: 1;
        }
    }
}

// Create a container
.as-container {
    container-type: inline-size;
    min-height: 300px;
    overflow: hidden;
}

// Demo for responsive table
@container (max-width:800px) {
    #demoTable {
        @include as-responsive-table()
    }
}

// Demo for grid
doc-demo {

    .grid,
    .flex-grid {
        &:not(.demo-inline) > * {
            background-color: #eee;
            text-align: center;
            padding-block: 1rem;
        }

        &.demo-inline {
            --grid-columns: 3
        }

    }

}