////
/// ------------------------------------------------------------------
/// Layout
/// ------------------------------------------------------------------
/// This is the style for the basic layout with a sidebar
///
/// @author Natacha Herth

///
////

doc-layout {

    height: 100vh;
    display: grid;
    grid-template-columns: 0px 1fr;
    grid-template-rows: max-content 1fr;
    grid-template-areas: "aside header" "aside main" "aside footer";
    overflow: hidden;
    transition: all .5s ease-in-out;

    > header {
        grid-area: header;
    }

    > footer {
        grid-area: footer;
    }

    > header > nav > ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 1rem;
    }

    > main {
        grid-area: main;
        overflow-y: auto;
    }

    aside {

        --drawer-display: grid;
        --drawer-transform: translatex(-100%);
        --drawer-position: 0 auto 0 0;

        // Set the grid for the sidebar based on the parent grid
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        grid-template-areas: "welcome" "menu";

        > header {
            grid-area: welcome;
        }

        // Design the nav
        > nav {
            grid-area: menu;
            overflow-y: auto;
        }

    }

    * {
        // Hide scrollbar for IE, Edge and Firefox
        -ms-overflow-style: none;
        scrollbar-width: none;

        //Hide scrollbar for Chrome, Safari and Opera
        &::-webkit-scrollbar {
            display: none;
        }
    }

    @media (min-width: 960px) {
        &:has(aside:not([hidden])) {
            grid-template-columns: 320px 1fr;
        }
    }

}