////
/// ------------------------------------------------------------------
/// Style
/// ------------------------------------------------------------------
/// This is the style for the website
///
/// @author Natacha Herth

///
////

@use './../../../scss/abstracts/mixins' as *;

:root {

    --doc-header-padding-block: 1rem;
    --doc-main-padding-block: 2rem;
    --doc-sidebar-padding-inline: 2rem;
    --doc-main-padding-inline: 4rem;

    --doc-bloc-padding: 1.5rem;
    --doc-bloc-radius: .75rem;
    --doc-code-background: #282c34;
    --doc-border-color: #e2e2e2;

    --color-font: #535353;
    --heading-color: #3c3c3c;
    --dialog-index: 3;
    --line-height: 1.75;
    --heading-line-height: 1.5;

}

doc-layout {

    > header {

        // For the icon link
        --nav-color: rgba(0, 0, 0, .5);
        --nav-hover-color: black;

        // Display inline
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--doc-header-padding-block) var(--doc-main-padding-inline);
        border-bottom: 1px solid var(--doc-border-color);
    }

    > aside {

        background-color: var(--color-body, white);
        border-right: 1px solid var(--doc-border-color);

        > header {

            padding: var(--doc-header-padding-block) var(--doc-sidebar-padding-inline);
            font-size: var(--font-size-h3);

            svg {
                transition: all .25s ease-in-out;
                color: var(--color-primary)
            }

            a {
                display: block;
                width: 100%;
                white-space: nowrap; // For bug when hide sidebar ≠ change the height of header

                &:hover svg {
                    transform: rotate(25deg);
                }
            }

        }

        > nav {

            --nav-direction: column;
            --nav-align: start;
            --nav-gap: .25rem;
            --nav-hover-color: var(--color-primary);

            // Display flex to make sure copyright will always at the bottom
            display: flex;
            flex-direction: column;
            padding: var(--doc-main-padding-block) var(--doc-sidebar-padding-inline);

            > h2 {
                margin-bottom: .25em;
                font-size: var(--font-size);
                font-weight: bold;
            }

            > ul:not(:last-child) {
                margin-bottom: 1.5rem;
            }

        }

        #copyright {
            font-size: var(--font-size-small);
            text-align: center;
            margin-top: auto;
            padding-block: .5rem;
            font-style: italic;
        }

    }

    > main {

        container-type: inline-size;
        padding: var(--doc-main-padding-block) var(--doc-main-padding-inline);

        :not(doc-demo) a {
            --anchor-color: var(--color-primary);
            --anchor-decoration: underline;
        }

        > h2 {
            margin-block: 2em .25em;
            padding-top: .5em;
            border-top: 1px solid var(--doc-border-color);

            &:before {
                content: '# ';
            }
        }

        > h3 {
            margin-block: 1em .25em;
        }

        > h2 + *,
        > h3 + * {
            margin-top: 0 !important;
        }

        > p,
        > ul,
        > hr,
        > blockquote,
        > table,
        > doc-demo,
        > doc-code,
        > .code-group {
            margin-block: 1.75rem;
        }

        > blockquote {

            border-left: 3px solid var(--blockquote-color, var(--color-primary));
            padding-left: var(--doc-bloc-padding);

            &:is(.tip, .warning, .todo) {

                background-color: color-mix(in srgb, var(--blockquote-color), transparent 90%);
                border-radius: var(--doc-bloc-radius);
                border-left: none;
                padding: var(--doc-bloc-padding);

                &:before {
                    font-weight: bold;
                    text-transform: uppercase;
                    color: var(--blockquote-color);
                    content: attr(class);
                }

            }

            &.tip {
                --blockquote-color: var(--color-primary);
            }

            &.warning {
                --blockquote-color: var(--color-warning);
            }

            &.todo {
                --blockquote-color: var(--color-error);
            }

        }

        > table {
            th {
                font-weight: bold;
            }

            tr:nth-child(odd) td {
                background-color: rgba(0, 0, 0, .05);
            }
        }

        > doc-demo {
            display: block;
            padding: var(--doc-bloc-padding);
            border-radius: var(--doc-bloc-radius);
            border: 1px solid var(--doc-border-color);
        }

        // Simple code bloc => add the type on the bottom
        > doc-code {

            display: block;
            position: relative;
            padding: var(--doc-bloc-padding);
            background-color: var(--doc-code-background);
            border-radius: var(--doc-bloc-radius);

            &::before {
                content: attr(data-type, 'html');
                position: absolute;
                bottom: .5rem;
                right: .75rem;
                font-size: 12px;
                color: white;
                opacity: .5;
            }

        }

        // Tab nav code bloc
        > .code-group {

            position: relative;
            padding: calc(var(--doc-bloc-padding) / 2) var(--doc-bloc-padding);
            background-color: var(--doc-code-background);
            border-radius: var(--doc-bloc-radius);

            doc-code:not([hidden]) {
                display: block;
                padding: .5rem;
            }

            [role=tablist] {
                --button-color: white;
                --button-active-color: var(--color-primary);
                --button-hover-background: rgba(255, 255, 255, .25);
                --button-padding-inline: .5rem;
                --button-padding-block: .25rem;
                font-size: 12px;
                margin-bottom: .25rem;
            }

        }

    }

}

@media (max-width:630px) {
    :root {
        --doc-header-padding-block: 1rem;
        --doc-main-padding-block: 1rem;
        --doc-sidebar-padding-inline: 1rem;
        --doc-main-padding-inline: 1.5rem;

        --font-size: 14px;
        --line-height: 1.5;
        --heading-line-height: 1.25;
    }
}

@container (max-width:576px) {
    table {

        --table-padding-block: 0.125em;

        @include as-responsive-table();

        td[data-label]:before {
            font-weight: bold;
        }

    }
}