////
/// ------------------------------------------------------------------
/// Badge
/// ------------------------------------------------------------------
/// Create the badge component
///
/// @example <span class="badge">...</span>
///
/// @require {mixin} as-item
/// @group components
/// @author Natacha Herth
///
////

@use "sass:map";
@use "../abstracts/default";
@use "../abstracts/mixins" as *;

$customBadge: (
    background: color-mix(in srgb, transparent, var(--hover-color) var(--hover-percent)),
    padding-block: .25em,
    padding-inline: .375em
);

// Change default properties
$customBadgeProperties: map.merge(default.$item-properties, $customBadge);

.badge {

    // Customization for badge
    display: inline-block;
    font-size: var(--badge-font-size, var(--font-size-small));
    line-height: 1;

    // Define as an item
    @include as-item('badge', (), $customBadgeProperties);

}