////
/// ------------------------------------------------------------------
/// Breadcrumb
/// ------------------------------------------------------------------
/// Create the breadcrumb component
///
/// @example <nav><ol class="breadcrumb">...</ol></nav>
///
/// @group components
/// @author Natacha Herth
///
////

.breadcrumb {

    // Reset the list style
    list-style: none;
    padding: 0;
    margin: 0;

    // Design the breadcrumb list as inline by default
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0;

    // Add a divider between links
    li:not(:last-child)::after {
        content: var(--breadcrumb-divider, '/');
        color: var(--breadcrumb-divider-color, currentColor);
        margin-inline: var(--breadcrumb-gap, .5rem);
    }

    // Reset the anchor CSS properties
    a {
        --anchor-decoration: var(--breadcrumb-decoration, currentColor);
        --anchor-color: var(--breadcrumb-color, currentColor);
        --anchor-hover-color: var(--breadcrumb-hover-color, var(--breadcrumb-color, currentColor));
        --anchor-active-color: var(--breadcrumb-active-color, var(--breadcrumb-hover-color, var(--breadcrumb-color, currentColor)));
        --anchor-disabled-opacity: var(--breadcrumb-disabled-opacity, var(--disabled-opacity));
    }

}