////
/// ------------------------------------------------------------------
/// Button
/// ------------------------------------------------------------------
/// Create the button component
///
/// @example <button>Button</button> or <a href="#" role="button">Button</a>
///
/// @require {mixin} as-item
/// @group components
/// @author Natacha Herth
///
////

@use "../abstracts/mixins" as *;

button:not([role=link]),
[type=button],
[type=reset],
[type=submit],
[role=button] {

    // Customization for button
    display: inline-block;
    text-align: center;

    // Define as an item
    @include as-item('button', ('focus', 'hover', 'active', 'disabled'));

    // Set as :disabled for link without href
    &:is(a):not([href]) {
        pointer-events: none;
        opacity: var(--button-disabled-opacity, var(--disabled-opacity));
    }

}