////
/// ------------------------------------------------------------------
/// Card
/// ------------------------------------------------------------------
/// Create the card component
///
/// @example <div class="card">...</div>
///
/// @require {mixin} as-item
/// @group components
/// @author Natacha Herth
///
////

@use "sass:map";
@use "../abstracts/default";
@use "../abstracts/mixins" as *;

$customCard: (
    padding-block: 1rem,
    padding-inline: 1rem
);

// Change default properties
$customCardProperties: map.merge(default.$item-properties, $customCard);

.card {

    // Design as item
    @include as-item('card', (), $customCardProperties);

    // Design the layout
    > header,
    > footer,
    > .flush {
        margin-inline: calc(var(--card-padding-inline, map.get($customCard, padding-inline)) * -1);
    }

    > header,
    > footer {
        padding: calc(var(--card-padding-block, map.get($customCard, padding-block)) / 2) var(--card-padding-inline, map.get($customCard, padding-inline));
    }

    > header,
    > :first-child:is(.flush) {
        margin-top: calc(var(--card-padding-block, map.get($customCard, padding-block)) * -1);
        border-start-start-radius: inherit;
        border-start-end-radius: inherit;
        border-bottom: var(--card-divider-size, var(--card-border-size, var(--border-size))) var(--card-divider-style, var(--card-border-style, var(--border-style))) var(--card-divider-color, var(--card-border-color, transparent));
    }

    > footer,
    > :last-child:is(.flush) {
        margin-bottom: calc(var(--card-padding-block, map.get($customCard, padding-block)) * -1);
        border-end-start-radius: inherit;
        border-end-end-radius: inherit;
        border-top: var(--card-divider-size, var(--card-border-size, var(--border-size))) var(--card-divider-style, var(--card-border-style, var(--border-style))) var(--card-divider-color, var(--card-border-color, transparent));
    }

    > :not(:first-child, :last-child):is(.flush) {
        border-top: var(--card-divider-size, var(--card-border-size, var(--border-size))) var(--card-divider-style, var(--card-border-style, var(--border-style))) var(--card-divider-color, var(--card-border-color, transparent));
        border-bottom: var(--card-divider-size, var(--card-border-size, var(--border-size))) var(--card-divider-style, var(--card-border-style, var(--border-style))) var(--card-divider-color, var(--card-border-color, transparent));
    }

    > .flush {
        border-radius: 0;
    }

    > picture.flush {
        max-width: inherit;
        overflow: hidden;

        > img {
            width: 100%;
        }
    }

    > .flush.list > * {

        border-inline: none !important;

        &:has(> a[role=button]:only-child, > button:only-child) > * {
            border-inline: none !important;
        }

        &:first-child,
        &:first-child > :only-child {
            border-top: none !important;
            border-start-start-radius: inherit !important;
            border-start-end-radius: inherit !important;
        }

        &:last-child,
        &:last-child > :only-child {
            border-bottom: none !important;
            border-end-start-radius: inherit !important;
            border-end-end-radius: inherit !important;
        }

    }

    > .flush.group {

        > * {
            width: 100%;
            border-radius: inherit;

            &:first-child {
                border-left: none;
            }

            &:last-child {
                border-right: none;
            }

        }

        &:is(:first-child) > * {
            border-top: none;
        }

        &:is(:last-child) > * {
            border-bottom: none;
        }

    }

}