////
/// ------------------------------------------------------------------
/// Dialog
/// ------------------------------------------------------------------
/// Create the dialog component
///
/// @example <dialog>My dialog</dialog>
///
/// @require {mixin} as-item
/// @group components
/// @author Natacha Herth
///
////

@use "sass:map";
@use "../abstracts/default";
@use "../abstracts/mixins" as *;

$customDialog: (
    background: var(--color-body),
    padding-block: 2rem,
    padding-inline: 2rem
);

// Change default properties
$customDialogProperties: map.merge(default.$item-properties, $customDialog);

dialog {

    // Position the dialog
    position: fixed;
    inset: var(--dialog-position, 0);

    // Define the CSS
    margin: auto;
    width: var(--dialog-width, 576px);
    height: var(--dialog-height, fit-content);
    max-width: var(--dialog-max-width, 100dvw);
    max-height: var(--dialog-max-height, 100dvh);
    overflow: auto;

    // Design as item
    @include as-item('dialog', (), $customDialogProperties);

    // Animate the dialog
    @media screen and (prefers-reduced-motion: no-preference) {
        animation: var(--dialog-close-animation, close-dialog 0.25s ease-in-out);
    }

    // Display dialog when open
    // Because of the [inert] attribute on the body, require the pointer-events
    &[open] {
        z-index: var(--dialog-index, 1);
        pointer-events: auto;

        @media screen and (prefers-reduced-motion: no-preference) {
            animation: var(--dialog-open-animation, open-dialog 0.25s ease-in-out);
        }
    }

    // Design the backdrop, can't be updated per dialog
    &::backdrop {
        background: var(--dialog-backdrop-background, var(--backdrop-color, rgba(black, .75)));
        backdrop-filter: var(--dialog-backdrop-filter, var(--backdrop-filter, blur(.5rem)));
        -webkit-backdrop-filter: var(--dialog-backdrop-filter, var(--backdrop-filter, blur(.5rem)));
    }

    // Design the layout
    @include with-header-and-footer('dialog', $customDialogProperties);

}

@keyframes open-dialog {
    from {
        opacity: 0;
        transform: var(--dialog-open-transform, translateY(100px));
        display: none;
    }

    to {
        opacity: 1;
        transform: none;
        display: block;
    }
}

// NOT work on FF
@keyframes close-dialog {
    from {
        opacity: 1;
        transform: none;
        display: block;
    }

    to {
        opacity: 0;
        transform: var(--dialog-close-transform, translateY(100px));
        display: none;
    }
}