////
/// ------------------------------------------------------------------
/// Disclosure
/// ------------------------------------------------------------------
/// Create the disclosure component
///
/// @example <details><summary>Click</summary><div>My disclosure</div></details>
///
/// @require {mixin} as-item
/// @group components
/// @author Natacha Herth
///
////

@use "../abstracts/mixins" as *;

details {

    > summary {

        // Define as an item
        @include as-item('disclosure', ('focus', 'hover'));

        // Animate the SVG
        @media screen and (prefers-reduced-motion: no-preference) {
            > svg {
                transition: var(--disclosure-transition, all .25s ease-in-out);
            }
        }

    }

    // Define as an item
    > div {
        @include as-item('disclosure');
    }

    &[open] summary {

        // Define manually the :active state
        color: var(--disclosure-active-color, var(--disclosure-color, var(--color-font)));
        background-color: var(--disclosure-active-background, color-mix(in srgb, var(--disclosure-background, transparent), var(--active-color) var(--active-percent)));
        border-color: var(--disclosure-active-border-color, var(--disclosure-border-color, transparent));

        // Transform the SVG
        > svg {
            transform: var(--disclosure-svg-transform, rotate(90deg));
        }

    }

    // Include the color variation on the parent
    @include with-color-variations('disclosure');

}

.accordion {

    // Remove extra border
    > details + details > summary,
    > details > div {
        border-top: none !important;
    }

    // Remove extra radius
    > details:not(:first-child, :last-child) > summary,
    > details:not(:last-child) > div {
        border-radius: 0;
    }

    // Remove radius on last element
    > details:last-child[open] {

        > summary {
            border-end-start-radius: 0;
            border-end-end-radius: 0;
        }

        > div {
            border-start-start-radius: 0;
            border-start-end-radius: 0;
        }

    }

    > details:not(:only-child) {

        // Remove radius bottom on first child
        &:first-child > summary {
            border-end-start-radius: 0;
            border-end-end-radius: 0;
        }

        // Remove radius top on last child
        &:last-child > summary {
            border-start-start-radius: 0;
            border-start-end-radius: 0;
        }

    }

}