////
/// ------------------------------------------------------------------
/// Drawer
/// ------------------------------------------------------------------
/// Create the drawer component
///
///
/// @group components
/// @author Natacha Herth
///
////

.drawer {

    // Design
    display: var(--drawer-display, block);
    background-color: var(--drawer-background, var(--color-body));

    // Make the drawer as sticky for mobile
    position: fixed;
    z-index: var(--drawer-index, 2);
    inset: var(--drawer-position, auto 0 auto auto);

    // Set the size
    width: var(--drawer-width, 320px);
    height: var(--drawer-height, 100vh);
    max-width: var(--drawer-max-width, 80dvw);
    max-height: var(--drawer-max-height, 100dvh);

    // For animation
    transform-origin: var(--drawer-origin, left);
    transform: none;

    // Show
    pointer-events: initial;
    visibility: visible;
    transform: translateX(0);
    opacity: 1;

    // Animation
    @media screen and (prefers-reduced-motion: no-preference) {
        transition: var(--drawer-animation, all 0.5s ease-in-out);
    }

    // Hide the drawer
    &[hidden] {
        pointer-events: none;
        overflow: hidden;
        visibility: hidden;
        transform: var(--drawer-transform, translatex(100%));
        opacity: 0;
        display: var(--drawer-display, block) !important; // ! REQUIRED to avoid the display:none of [hidden]
    }

}

.drawer-button {

    rect {
        transform-origin: center;

        @media screen and (prefers-reduced-motion: no-preference) {
            transition: y .25s ease-in-out .25s, rotate .25s ease-in-out;
        }
    }

    &[aria-expanded=true] {

        @media screen and (prefers-reduced-motion: no-preference) {
            rect {
                transition: y .25s ease-in-out, rotate .25s ease-in-out .25s;
            }
        }

        rect:first-child {
            y: calc(50% - var(--svg-line-size, 10px) / 2);
            rotate: 45deg;
        }

        rect:not(:first-child, :last-child) {
            opacity: 0;
        }

        rect:last-child {
            y: calc(50% - var(--svg-line-size, 10px) / 2);
            rotate: -45deg;
        }

    }

}

body #backdrop {
    // Design the backdrop
    position: fixed;
    inset: 0;
    z-index: 1;
    background: var(--drawer-backdrop-background, var(--backdrop-color, rgba(black, .75)));
    backdrop-filter: var(--drawer-backdrop-filter, var(--backdrop-filter, blur(.5rem)));

    // By default it's hidden
    pointer-events: none;
    visibility: hidden;
    opacity: 0;

    // Animation
    @media screen and (prefers-reduced-motion: no-preference) {
        transition: all .5s ease-in-out;
    }
}

// Make backdrop visible if breakpoint
@media (max-width:960px) {
    body:has(.drawer:not([hidden])) {
        #backdrop {
            visibility: visible;
            pointer-events: initial;
            opacity: 1;
        }
    }
}