////
/// ------------------------------------------------------------------
/// Dropdown
/// ------------------------------------------------------------------
/// Create the dropdown component
///
/// @example <div class="dropdown"><button aria-controls="myDropdown" aria-expanded="false" aria-pressed="false">Button</button><ul id="myDropdown" hidden>...</ul></div>
///
/// @require {mixin} as-item
/// @require {mixin} as-list
/// @group components
/// @author Natacha Herth
///
////

@use "sass:map";
@use "../abstracts/default";
@use "../abstracts/mixins" as *;

$customDropdown: (
    background: var(--color-body)
);

// Change default properties
$customDropdownProperties: map.merge(default.$item-properties, $customDropdown);

.dropdown {

    position: relative;
    display: inline-block;

    > [aria-controls] {

        width: 100%;
        white-space: nowrap;

        // Animate the SVG
        @media screen and (prefers-reduced-motion: no-preference) {
            > svg {
                transition: var(--dropdown-transition, all .25s ease-in-out);
            }
        }

        &[aria-expanded=true] > svg {
            transform: var(--dropdown-svg-transform, rotate(-180deg));
        }

    }

    > *:not([aria-controls]) {

        // Make it overflow
        position: absolute;
        z-index: var(--dropdown-index, 1);
        top: calc(100% + var(--dropdown-offset, .5rem));

        // Simple bloc
        &:not(ul, ol) {
            @include as-item('dropdown', (), $customDropdownProperties);
        }

        // As list
        &:is(ul, ol) {
            @include as-list('dropdown', ('focus', 'hover', 'active', 'disabled'), $customDropdownProperties);
        }

    }

}