////
/// ------------------------------------------------------------------
/// Form
/// ------------------------------------------------------------------
/// Create the form components
///
/// @example <input>, <textarea> and <select>
///
/// @require {mixin} as-item
/// @group components
/// @author Natacha Herth
///
////

@use "../abstracts/mixins" as *;

label,
fieldset legend {
    display: block;
}

input,
textarea,
select {

    // Customization 
    width: 100%;
    vertical-align: middle;

    // Define as an item
    @include as-item('form', ('focus', 'disabled'));

}

textarea {
    resize: vertical;
    white-space: break-spaces;
}

[type=number] {
    // Hide the default buttons
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

[type=date],
[type=datetime-local],
[type=time],
[type=file],
select {
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: calc(100% - var(--form-padding-inline, var(--padding-inline))) center;
}

[type=date],
[type=datetime-local] {
    background-image: var(--icon-date);
}

[type=time] {
    background-image: var(--icon-time);
}

@-moz-document url-prefix() {

    // For Firefox re-align icons (can't override the default)
    [type=date],
    [type=datetime-local],
    [type=time] {
        padding-right: .425rem;
    }

    // For Firefox don't add background-image (can't override the default)
    [type=date],
    [type=datetime-local] {
        background-image: none;
    }

}

[type=file] {

    background-image: var(--icon-file);

    // Hide the default button, and make it look like a default input
    &::file-selector-button {
        visibility: hidden;
        width: 0;
        padding: 0;
        margin: 0;
    }

}

select {
    background-image: var(--icon-select);
}

[type=color] {
    height: calc((var(--font-size) * var(--line-height)) + (var(--form-padding-block, var(--padding-block)) * 2) + (var(--form-border-size, var(--border-size)) * 2));
}

[type=range] {

    $size: var(--range-size, 1rem);

    @mixin as-range-button() {
        background-color: var(--range-color, currentColor);
        height: $size;
        width: $size;
        border: none;
        border-radius: $size;
        box-shadow: calc(-1000px - $size / 2) 0 0 1000px color-mix(in srgb, var(--range-color, currentColor), transparent 75%);
    }

    padding: calc($size / 2) 0;
    overflow: hidden;
    height: $size;
    border-radius: $size;

    &::-moz-range-thumb {
        @include as-range-button()
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        @include as-range-button()
    }

}

[type=radio],
[type=checkbox],
[type=checkbox][role=switch] {

    padding: 0;
    width: 1.25rem;
    height: 1.25rem;
    background-repeat: no-repeat;
    background-position: center;

    &:checked {
        background-color: var(--form-active-background, currentColor);
        border-color: var(--form-active-border-color, currentColor);
    }

    &:disabled:not(:checked) {
        background-color: var(--form-background, rgba(black, 25%));
    }

    & ~ label {

        display: initial;
        vertical-align: middle;

        &:not(:last-of-type) {
            margin-inline-end: var(--form-padding-inline, var(--padding-inline));
        }
    }

}

[type=radio] {

    border-radius: 100%;

    &:checked {
        background-size: 50%;
        background-image: var(--icon-radio);
    }

}

[type=checkbox]:not([role=switch]):checked {
    background-size: 100%;
    background-image: var(--icon-check);
}


[type=checkbox][role=switch] {

    width: 2.25rem;
    border-radius: 1rem;
    background-position: .125em center;
    background-size: auto calc(100% - .25em);
    background-color: var(--form-background, rgba(black, 25%));
    background-image: var(--icon-switch);

    &:checked {
        background-position: calc(100% - .125em) center;
    }

}


form div {
    &:has([aria-invalid=true]) {
        [aria-live] {
            color: var(--color-error);
        }
    }

    &:has([aria-invalid=false]) {
        [aria-live] {
            color: var(--color-success);
        }
    }
}