////
/// ------------------------------------------------------------------
/// Grid
/// ------------------------------------------------------------------
/// Create the grid component
///
/// @example <div class="grid">...</div> or <div class="flex-grid">...</div>
///
/// @group components
/// @author Natacha Herth
///
////

.grid,
.flex-grid {
    gap: var(--grid-gap-block, 1rem) var(--grid-gap-inline, 1rem);
    justify-content: var(--grid-justify, start);
    align-items: var(--grid-align, initial);
}

.grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns, 12), minmax(min(var(--grid-column-size, 0%), 100%), 1fr));
}

.flex-grid {
    display: flex;
    flex-wrap: wrap;

    > * {
        $column: var(--grid-columns, 12);
        flex-basis: calc((1 * 100% - (($column - 1) * var(--grid-gap-inline, 1rem))) / $column);
        flex-grow: var(--grid-grow, 0);
    }

}