////
/// ------------------------------------------------------------------
/// Group
/// ------------------------------------------------------------------
/// Create the group component
///
/// @example <div class="group">...</div>
///
/// @require { mixin} as-item
/// @group components
/// @author Natacha Herth
///
////

@use "../abstracts/mixins" as *;

.group {

    display: flex;

    > * {

        &:is(label) {
            @include as-item('form');
        }

        // Remove extra border
        & + *,
        & + :is(.dropdown) > [aria-controls] {
            border-left: none !important;
        }

        // Remove extra radius
        &:not(:first-child, :last-child),
        &:not(:first-child, :last-child):is(.dropdown) > [aria-controls] {
            border-radius: 0;
        }

        &:not(:only-child) {

            // Remove radius right on first child
            &:first-child,
            &:first-child:is(.dropdown) > [aria-controls] {
                border-start-end-radius: 0;
                border-end-end-radius: 0;
            }

            // Remove radius left on last child
            &:last-child,
            &:last-child:is(.dropdown) > [aria-controls] {
                border-start-start-radius: 0;
                border-end-start-radius: 0;
            }

        }

    }

}