////
/// ------------------------------------------------------------------
/// Loading
/// ------------------------------------------------------------------
/// Create the loading component
///
/// @example <div aria-busy="true">Busy</div>, <a href="#" aria-busy="true">Busy</a> or <button aria-busy="true">Busy</button>,
///
/// @group components
/// @author Natacha Herth
///
////

[aria-busy=true] {

    white-space: nowrap;
    pointer-events: none;

    &::before {
        content: "";
        display: inline-block;
        width: 1em;
        height: 1em;
        vertical-align: -.125em;
        border: 2px solid currentColor;
        border-radius: 1em;
        border-right-color: transparent;

        @media screen and (prefers-reduced-motion: no-preference) {
            animation: busy-spinner 1s linear infinite;
        }
    }

    &:not(:empty)::before {
        margin-inline-end: .5rem;
    }

    &:empty {
        text-align: center;
    }

    @keyframes busy-spinner {
        to {
            transform: rotate(360deg);
        }
    }

}