////
/// ------------------------------------------------------------------
/// Progress
/// ------------------------------------------------------------------
/// Create the progress bar component
///
/// @example <progress value="75" max="100"></progress>
///
/// @group components
/// @author Natacha Herth
///
////

progress {

    display: inline-block;
    vertical-align: middle;
    width: var(--progress-width, 100%);
    height: var(--progress-height, 1rem);
    background-color: var(--progress-background, color-mix(in srgb, var(--progress-color, currentColor), transparent 75%));
    border-radius: var(--progress-border-radius, 1rem);
    overflow: hidden;

    // Remove default background on Safari and Chrome
    &::-webkit-progress-bar {
        background: none;
    }

    // Set the value bar background color on Safari & Chrome
    &::-webkit-progress-value {
        background-color: var(--progress-color, currentColor);
    }

    // Set the value bar background color on Firefox
    &::-moz-progress-bar {
        background-color: var(--progress-color, currentColor);
    }

}