////
/// ------------------------------------------------------------------
/// Slider
/// ------------------------------------------------------------------
/// Create the slider component
///
/// @example <div class="slider">...</div>
///
/// @group components
/// @author Natacha Herth
///
////

.slider {

    position: relative; // Important for the offsetLeft
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / var(--slider-columns, 1)) - var(--slider-gap, 0rem));
    gap: var(--slider-gap, 0);
    overflow: hidden;
    //overscroll-behavior-inline: contain;
    //overflow-x: auto;
    //scroll-snap-type: inline mandatory;

    // Remove Scrollbar 
    //scrollbar-width: none;
    //-ms-overflow-style: none;

    > * {
        //scroll-snap-align: start;
        //scroll-padding-inline: 0;
    }

}