////
/// ------------------------------------------------------------------
/// Table
/// ------------------------------------------------------------------
/// Create the table component
///
/// @example <table></table>
///
/// @group components
/// @author Natacha Herth
///
////

table {

    // Design the cells
    th,
    td {
        padding: var(--table-padding-block, var(--padding-block)) var(--table-padding-inline, var(--padding-inline));
        text-align: var(--table-align-inline, left);
        vertical-align: var(--table-align-block, middle);
    }

    // Add the borders
    tr:not(:first-child) {
        border-top: var(--table-border-size, var(--border-size)) var(--table-border-style, var(--border-style)) var(--table-border-color, transparent);
    }

    // Change border between header & footer
    thead + tbody > tr:first-child,
    tfoot > tr:first-child {
        border-top: var(--table-divider-size, var(--table-border-size, var(--border-size))) var(--table-divider-style, var(--table-border-style, var(--border-style))) var(--table-divider-color, var(--table-border-color, transparent));
    }

}