////
/// ------------------------------------------------------------------
/// Media
/// ------------------------------------------------------------------
/// Create the media component
///
/// @example <img>, <picture>, <figure>, <video> and <audio>
///
/// @group base
/// @author Natacha Herth
///
////

img {
    width: var(--image-width, auto);
    height: var(--image-height, auto);
    object-fit: var(--image-fit, cover);
    aspect-ratio: var(--image-ratio, auto);
}

video {
    width: var(--video-width, 100%);
    height: var(--video-height, auto);
    object-fit: var(--video-fit, cover);
    aspect-ratio: var(--video-ratio, 16/9);
}

audio {
    width: var(--audio-width, 100%);
}

figcaption {
    color: var(--caption-color, currentColor);
    font-size: var(--caption-font-size, var(--font-size-small));
    margin: var(--caption-margin-block, .5rem) var(--caption-margin-inline, 0);
}