////
/// ------------------------------------------------------------------
/// Reset
/// ------------------------------------------------------------------
/// This file is the CSS default reset
///
/// @group base
/// @author Natacha Herth
/// 
////

// Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
*:where(:not(iframe, canvas, img, video, abbr, b, strong, i, em, cite, s, u, sub, sup, mark, code, svg, defs, g, path, rect, circle, line, text)) {
    all: unset;
    display: revert;
}

// Preferred box-sizing value
*,
*::before,
*::after {
    box-sizing: border-box;
}

// For media to not be able to exceed their container
img,
picture,
video,
audio,
canvas,
figure {
    max-width: 100%;
    display: block;
}

// Avoid overflow of text
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

// SVG default size and re-align with text 
svg {
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
    pointer-events: none; // For avoid e.target to get the SVG on clicked
}

// Basic table remove collapsing and set as block
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

// Remove the default summary style
summary {
    list-style: none;
}

// Force the hidden
[hidden=true],
[hidden=""] {
    display: none !important;
}

// Change cursor for item with aria-control or data-handle
[aria-controls]:not(:has([data-handle])),
[data-handle] {
    cursor: pointer;
}

// Change cursor for draggable
[draggable] {

    &:not(:has([data-handle=sortable])),
    [data-handle=sortable] {
        cursor: grab;
        user-select: none;
        pointer-events: auto;
        -webkit-user-drag: element;
        -webkit-touch-callout: none;
        touch-action: none;
    }

    &[aria-grabbed=true],
    &[aria-grabbed=true] [data-handle=sortable] {
        cursor: grabbing;
    }

}

// Reduce animation on scroll for #target + data-handle SVG
@media screen and (prefers-reduced-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth;
    }
}

// Define the bases for the body 
body {

    // Define Typography
    font-size: var(--font-size, 1rem);
    line-height: var(--line-height, 1.5);
    font-family: var(--font-family, default);
    font-weight: var(--font-weight, normal);

    // Define color
    color: var(--color-font, black);
    background-color: var(--color-body, white);

    // Trick to avoid reposition with or withour scrollbar 
    overflow-x: hidden;
    margin-right: calc(100% - 100vw);

    // Avoid scroll when a dialog is opened
    &[inert] {
        overflow: hidden;
        pointer-events: none;
        touch-action: none;
    }

    // Data attribute to prevent animation on first load DOM
    &[data-preload] * {
        transition-duration: 0s !important;
    }

}