////
/// ------------------------------------------------------------------
/// Typography
/// ------------------------------------------------------------------
/// This file define the basic typographic elements.
///
/// @group base
/// @author Natacha Herth
/// 
////

@for $i from 1 through 6 {
    h#{$i} {
        font-size: var(--font-size-h#{$i});
        font-weight: var(--heading-font-weight, var(--font-weight));
        line-height: var(--heading-line-height, var(--line-height));
        color: var(--heading-color, currentColor);
        text-wrap: balance;
    }
}

a,
button[role=link] {

    cursor: pointer;
    text-decoration: var(--anchor-decoration, var(--decoration));
    color: var(--anchor-color, currentColor);

    &:hover {
        color: var(--anchor-hover-color, var(--anchor-color, currentColor));
    }

    &:focus,
    &:focus-visible {
        color: var(--anchor-focus-color, var(--anchor-hover-color, var(--anchor-color, currentColor)));
        outline: var(--anchor-outline-size, var(--outline-size)) var(--anchor-outline-style, var(--outline-style)) var(--anchor-outline-color, color-mix(in srgb, currentColor, transparent var(--outline-opacity)));
        outline-offset: var(--anchor-outline-offset, var(--outline-offset));
    }

    &:active,
    &[aria-current],
    &[aria-selected=true] {
        color: var(--anchor-active-color, var(--nav-hover-color, var(--nav-color, currentColor)));
    }

    &:disabled,
    &:is(a):not([href]) {
        pointer-events: none;
        opacity: var(--anchor-disabled-opacity, var(--disabled-opacity));
    }

}

small {
    font-size: var(--font-size-small);
}

mark {
    padding: var(--mark-padding-block, .175em) var(--mark-padding-inline, .175em);
    background-color: var(--mark-background, #fff3cd);
}

kbd {
    white-space: nowrap;
    padding: var(--kbd-padding-block, .25em) var(--kbd-padding-inline, .375em);
    font-family: var(--kbd-font-family, monospace);
    color: var(--kbd-color, var(--color-body));
    background-color: var(--kbd-background, var(--color-font));
    border-radius: var(--kbd-border-radius, var(--border-radius));
}

:not(pre) > code {
    white-space: nowrap;
    padding: var(--code-padding-block, .25em) var(--code-padding-inline, .375em);
    font-family: var(--code-font-family, monospace);
    color: var(--code-color, currentColor);
    background-color: var(--code-background, #f5f2f0);
    border-radius: var(--code-border-radius, var(--border-radius));
}

ins {
    color: var(--color-success, green);
}

del {
    text-decoration: line-through;
    color: var(--color-error, red);
}

pre {
    white-space: nowrap;
    padding: var(--pre-padding-block, 1em) var(--pre-padding-inline, 1em);
    font-family: var(--pre-font-family, monospace);
    color: var(--pre-color, currentColor);
    background-color: var(--pre-background, #f5f2f0);
    border-radius: var(--pre-border-radius, var(--border-radius));
}

ul,
ol {
    padding-left: var(--list-offset, 1.25rem);
}

ul {
    list-style: var(--list-bullet, disc);
}

ol {
    list-style: var(--list-bullet, decimal);
}

hr {
    border-top: var(--hr-border-size, 1px) var(--hr-border-style, solid) var(--hr-border-color, currentColor);
}