////
/// ------------------------------------------------------------------
/// Default values for items
/// ------------------------------------------------------------------
/// Setting variables
///
/// @group abstracts
/// @author Natacha Herth
/// 
////

$item-properties: (
    color: var(--color-font),
    background: transparent,
    border-size: var(--border-size),
    border-style: var(--border-style),
    border-color: transparent,
    border-radius: var(--border-radius),
    padding-inline: var(--padding-inline),
    padding-block: var(--padding-block)
);