////
/// ------------------------------------------------------------------
/// Setting
/// ------------------------------------------------------------------
/// Setting variables
///
/// @group abstracts
/// @author Natacha Herth
/// 
////

/// Define the default list of colors available
/// 
/// @access public
///
$colors: (
    primary,
    success,
    error,
    warning) !default;

/// Define the components that have some color variations
///
/// @example button: (error) // <button class="error"></button>
/// @access public
///
$color-variations: (
    badge: $colors,
    button: $colors,
    card: $colors,
    disclosure: $colors,
    list: $colors) !default;

/// Define the components that have an outline variation
///
/// @example button // <button class="outline"></button>
/// @access public
///
$outline-variations: (
    badge,
    button,
    card,
    disclosure,
    list) !default;